body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 119, 255, 0.558);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

#post-container {
    margin-top: 30px;
}

.post {
    border-bottom: 1px solid black;
    padding: 10px 0;
    cursor: pointer;
}

.post:hover {
    background-color: #f9f9f9;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
}

.post-user {
    font-size: 14px;
    color: #555;
}

#post-details {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.comment {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
}
